<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
</head>
<body>
    <div class="jumbotron text-center" style="margin-bottom:0; background-color: dimgrey; color: white">
        <h1 id="header">Welcome to SportsBet</h1>
        <p id="description">Sports betting is the activity of predicting sports results and placing a wager on the outcome</p>
    </div>
    <div class="card text-white border-primary mb-3 mx-auto" style="width: 18rem; margin-top: 20px">
        <div class="card-header bg-primary mb-3" style="margin-bottom: 0px !important;"><b>Login</b></div>
        <div class="card-body">
            <div style="margin-bottom: 10px">
                <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Email">
            </div>
            <div style="margin-bottom: 10px">
                <input type="email" class="form-control" id="password" aria-describedby="emailHelp" placeholder="Password">
            </div>
            <button type="button" class="btn btn-primary">Login</button>
        </div>
    </div>
</body>
</html>